# Environment files
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
pip-wheel-metadata/
*.egg-info/
medical_chatbot.egg-info/